@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-200 {
    animation-delay: 0.2s;
  }
  .animation-delay-400 {
    animation-delay: 0.4s;
  }
}


:root {
  scroll-behavior: smooth;
  --primary: #ce81c7;
  --secondary: #8d5be9;
  --card: #2f3763;
  --background: #1f295b;
  --track: #8d5be9;
  --thumb: #1f295b;
  --logo: #ce81c7;
  --text: #ffffff;
  --trans: hsla(305, 44%, 66%, 0.3);
  --lessTrans: hsla(305, 44%, 66%, 0.5);
  --map: #272626;
}

[data-theme="dark"] {
  --primary: #ce81c7;
  --secondary: #8d5be9;
  --card: #2f3763;
  --background: #1f295b;
  --track: #8d5be9;
  --thumb: #1f295b;
  --logo: #ce81c7;
  --text: #ffffff;
  --trans: hsla(305, 44%, 66%, 0.3);
  --lessTrans: hsla(305, 44%, 66%, 0.5);
  --map: #272626;
}

[data-theme="light"] {
  --primary: #7bdff2;
  --secondary: #b2f7ef;
  --card: #ffffff;
  --background: #eff7f6;
  --track: #7bdff2;
  --thumb: #ffffff;
  --logo: #7bdff2;
  --text: #111111;
  --trans: hsla(190, 82%, 72%, 0.5);
  --lessTrans: hsla(190, 82%, 72%, 0.8);
  --map: #F6F6F4;
}

/* [data-theme="light"] {
  --primary: #ffb465;
  --secondary: #ffbb91;
  --card: #ffe1ca;
  --background: #fffeee;
  --track: #ffb465;
  --thumb: #ffffff;
  --logo: #ffb465;
  --text: #111111;
  --trans: hsla(190, 82%, 72%, 0.8);
} */
/* [data-theme="light"] {
  --primary: #ffc7c8;
  --secondary: #ffd9c9;
  --card: #ffffff;
  --background: #fff2e4;
  --track: #ffc7c8;
  --thumb: #ffffff;
  --logo: #ffc7c8;
  --text: #111111;
  --trans: hsla(359, 100%, 89%, 0.8);
} */


hr {
  /* make al hr tags thicker */
  border: 2px solid var(--primary);
  border-radius: 5px;
  margin: 6px 0 10px 0;
}

html {
  background-color: var(--background);
  scrollbar-gutter: stable both-edges;
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
::-webkit-scrollbar-track {
  background: var(--track);
}

::-webkit-scrollbar-thumb {
  border-radius: 40px;
  background-color: var(--thumb);
  border: 3px solid var(--track);
}

::-webkit-scrollbar-corner {
  background-color: #ddd;
}
.mapboxgl-ctrl-logo {
  display: none !important;
}

.react-transform-wrapper {
  overflow: visible !important;
}

.subheading-anchor {
  position: relative;
  text-decoration: none;
}

.subheading-anchor::before {
  content: "#";
  color: var(--primary);
  position: absolute;
  left: -20px;
  opacity: 0; /* Hide the "#" symbol initially */
}

.subheading-anchor:hover::before {
  opacity: 1; /* Show the "#" symbol on hover */
}
