@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham-Medium.woff2") format("woff2"),
    url("/fonts/Gotham-Medium.woff") format("woff"),
    url("/fonts/GothamMedium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("/fonts/GothamBook.woff2") format("woff2"),
    url("/fonts/GothamBook.woff") format("woff"),
    url("/fonts/GothamBook.ttf") format("ttf");
  font-weight: 100;
  font-display: swap;
}
:root {
  --primary: #ce81c7;
  --card: #2f3763;
  --background: #1f295b;
  --track: #8d5be9;
  --thumb: var(--background);
  --logo: #ce81c7;
}
[data-theme="dark"] {
  --primary: #ce81c7;
  --card: #2f3763;
  --background: #1f295b;
  --track: #8d5be9;
  --thumb: var(--background);
  --logo: #ce81c7;
}
[data-theme="light"] {
  --primary: #6dd2b7;
  --card: white;
  --background: rgb(229 231 235);
  --track: white;
  --thumb: #ffc6d7;
  --logo: black;
}
html {
  background-color: var(--background);
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
::-webkit-scrollbar-track {
  background: var(--track);
}

::-webkit-scrollbar-thumb {
  border-radius: 40px;
  background-color: var(--thumb);
  border: 3px solid var(--track);
}

::-webkit-scrollbar-corner {
  background-color: #ddd;
}
.mapboxgl-ctrl-logo {
  display: none !important;
}
