@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ce81c7;
  --secondary: #8d5be9;
  --pg: #8d5be9;
  --pr: #8d5be9;
  --rb: #ce81c7;
  --rr: #ce81c7;
  --br: #2f3763;
  --dw: #1f295b;
  --card: #2f3763;
  --background: #1f295b;
  --track: #8d5be9;
  --thumb: #1f295b;
  --logo: #ce81c7;
  --text: #ffffff;
  --trans: hsla(305, 44%, 66%, 0.3);
}
[data-theme="dark"] {
  --primary: #ce81c7;
  --secondary: #8d5be9;
  --pg: #8d5be9;
  --pr: #8d5be9;
  --rb: #ce81c7;
  --rr: #ce81c7;
  --br: #2f3763;
  --dw: #1f295b;
  --card: #2f3763;
  --background: #1f295b;
  --track: #8d5be9;
  --thumb: #1f295b;
  --logo: #ce81c7;
  --text: #ffffff;
  --trans: hsla(305, 44%, 66%, 0.3);
}
[data-theme="light"] {
  --primary: #6dd2b7;
  --secondary: #ffc6d7;
  --pg: #6dd2b7;
  --pr: #ffc6d7;
  --rb: #98d0ff;
  --rr: #ffc6d7;
  --br: #fcc6d7;
  --dw: #ffffff;
  --card: #ffffff;
  --background: rgb(229 231 235);
  --track: #ffffff;
  --thumb: #ffc6d7;
  --logo: hsl(342, 100%, 75%);
  --text: black;
  --trans: hsla(164, 53%, 63%, 0.3);
}

hr {
  /* make al hr tags thicker */
  border: 2px solid var(--primary);
  border-radius: 5px;
  margin: 6px 0 10px 0;
}

html {
  background-color: var(--background);
  scrollbar-gutter: stable;
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
::-webkit-scrollbar-track {
  background: var(--track);
}

::-webkit-scrollbar-thumb {
  border-radius: 40px;
  background-color: var(--thumb);
  border: 3px solid var(--track);
}

::-webkit-scrollbar-corner {
  background-color: #ddd;
}
.mapboxgl-ctrl-logo {
  display: none !important;
}
