html {
  background-color: #1f295b;
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
::-webkit-scrollbar-track {
  background: #8d5be9;
}

::-webkit-scrollbar-thumb {
  border-radius: 40px;
  background-color: #1f295b;
  border: 3px solid #8d5be9;
}

::-webkit-scrollbar-corner {
  background-color: #ddd;
}
