@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1f295b;
  --track: #8d5be9;
  --color: #ce81c7;
  --thumb: var(--background);
  --logo: #ce81c7;
}
[data-theme="light"] {
  --background: rgb(229 231 235);
  --track: white;
  --thumb: #ffc6d7;
  --color: #6dd2b7;
  --logo: black;
}
html {
  background-color: var(--background);
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
::-webkit-scrollbar-track {
  background: var(--track);
}

::-webkit-scrollbar-thumb {
  border-radius: 40px;
  background-color: var(--thumb);
  border: 3px solid var(--track);
}

::-webkit-scrollbar-corner {
  background-color: #ddd;
}
.mapboxgl-ctrl-logo {
  display: none !important;
}
